	@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
	*{
		margin: 0;
	}
	body{
		background: #3AAFA9;
  color: white;box-shadow: inset -53px -41px 198px #379E99, inset 95px -2px 200px #379e99;
display:flex;align-items:center;height:100vh;justify-content: center;
	}
	.typewriter {
		font-family: 'Anonymous Pro', monospace;
		width: 70%;  
	}
	h1 {
	  overflow: hidden;
	  margin: 0 auto;
	  display: inline-block;
	      font-weight: normal;

	}
	h1:after{
	 content: '';
	  display: inline-block;
	  background-color: white;
	  margin-left: 2px;
	  height: 25px;
    width: 4px;
		animation: cursor 0.4s infinite;
	}

	/* The typewriter cursor effect */
	@keyframes cursor {
		0% { opacity: 1; }
		  49% { opacity: 1; }
		  50% { opacity: 0; }
		  100% { opacity: 0; }
	}
